*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bar-size: 2px;
	--blur: blur(6px);
	--duration: .5s;
	--duration-fast: .25s;
	--ease: ease;
	--font-size-ui: 1.5rem;
	--gap: 2rem;
	--gray: #ccc;
	--pill-border: 1px solid var(--white-50);
	--pill-height: 46px;
	--pill-width: 180px;
	--red: #ea002a;
	--transition: opacity var(--duration) var(--ease), transform var(--duration) var(--ease);
	--transition-fast: opacity var(--duration-fast) var(--ease), transform var(--duration-fast) var(--ease);
	--white-50: #ffffff50;
	--white-80: #ffffff80;
}

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Droid Sans", "Trebuchet MS", Arial, sans-serif;
	overflow: hidden;
	text-rendering: optimizeLegibility;
	user-select: none;
}

/*-- Loader --*/

#loader {
	background-color: #fff;
	display: grid;
	inset: 0;
	place-items: center;
	position: fixed;
	transition: opacity 1s var(--ease);
	z-index: 9999;
}

#loader.pointer {
	cursor: pointer;
}

#loader.hide {
	opacity: 0;
}

#loader.remove {
	display: none;
}

#loader-inner {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	transition: var(--transition);
}

#loader-progress {
	background-color: var(--gray);
	height: 1px;
	position: relative;
	width: min(500px, 80vw);
}

#loader-progress::before {
	background-color: #000;
	content: "";
	inset: 0;
	position: absolute;
	transform: scaleX(var(--s, 0));
	transform-origin: left;
	transition: transform var(--duration) var(--ease);
}

#loader-text {
	display: flex;
	justify-content: space-between;
	transition: var(--transition);
}

#loader-click {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	opacity: 0;
	transform: translateY(-1rem);
	transition: var(--transition);
}

#loader-click.show {
	opacity: 1;
	transform: translateY(0);
}

#loader-click-star {
	animation: click 2s infinite;
}

@keyframes click {

	0%,
	20%,
	100% {
		transform: scale(1);
	}

	10% {
		transform: scale(0.7);
	}
}

/*-- Game --*/

#ui {
	color: #fff;
	font-size: var(--font-size-ui);
	inset: 0;
	position: fixed;
	z-index: 1;
}

/*-- Total stars --*/

#stars {
	align-items: center;
	bottom: var(--gap);
	display: flex;
	gap: var(--gap);
	justify-content: center;
	left: var(--gap);
	position: absolute;
	transform: translateY(1rem);
	width: var(--pill-width);
}

/*-- Level select --*/

#nav {
	bottom: var(--gap);
	display: flex;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 1rem);
	width: 270px;
}

.btn-level {
	display: grid;
	flex: 1;
	height: 100%;
	overflow: hidden;
	place-items: center;
	position: relative;
}

.btn-level.locked {
	cursor: not-allowed;
}

.btn-level-number {
	transition: var(--transition-fast);
}

.btn-level-stars {
	display: flex;
	gap: .25rem;
	grid-area: 1 / 1;
}

.btn-level-star {
	color: var(--white-50);
	opacity: 0;
	transform: translateY(1rem);
	transition: var(--transition-fast);
}

.btn-level-star:nth-of-type(2) {
	transition-delay: 50ms;
}

.btn-level-star:nth-of-type(3) {
	transition-delay: 100ms;
}

.btn-level:hover:not(.locked) .btn-level-star {
	opacity: 1;
	transform: translateY(0) rotate(180deg);
}

/*-- Controls --*/

#controls {
	bottom: var(--gap);
	display: flex;
	position: absolute;
	right: var(--gap);
	transform: translateY(1rem);
	width: var(--pill-width);
}

#btn-sound {
	flex: 1;
	gap: 4px;
	height: 100%;
}

#btn-sound span {
	animation: sound .75s infinite ease-in-out;
	animation-play-state: paused;
	background-color: #fff;
	border-radius: var(--bar-size);
	height: 7px;
	width: var(--bar-size);
}

#btn-sound.active span {
	animation-play-state: running;
}

#btn-sound span:nth-of-type(2) {
	animation-delay: 0.4s;
}

#btn-sound span:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes sound {

	0%,
	100% {
		height: 7px;
	}

	50% {
		height: 18px;
	}
}

#btn-fullscreen {
	flex: 1;
	height: 100%;
}

.icon-fs {
	opacity: 0;
	transition: opacity var(--duration) var(--ease);
}

.icon-fs.active {
	opacity: 1;
}

/*-- Zoom + Power indicators --*/

#zoom,
#power {
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#zoom {
	align-items: flex-end;
	right: var(--gap);
}

#power {
	left: var(--gap);
}

#zoom span,
#power span {
	background-color: var(--white-80);
	border-radius: var(--bar-size);
	height: var(--bar-size);
	position: relative;
	transform: scaleX(0);
}

#zoom span::before,
#power span::before {
	background-color: #fff;
	border-radius: var(--bar-size);
	content: "";
	height: var(--bar-size);
	inset: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: inherit;
	transition: inherit;
}

#zoom span.show,
#power span.show,
#zoom span.active::before,
#power span.active::before {
	transform: scaleX(1);
}

#zoom span {
	transform-origin: right;
	width: 1rem;
}

#zoom span:nth-of-type(3n+1) {
	width: 1.5rem;
}

#power span {
	transform-origin: left;
}

#power span:nth-of-type(1) {
	width: 0.5rem;
}

#power span:nth-of-type(2) {
	width: 0.6rem;
}

#power span:nth-of-type(3) {
	width: 0.72rem;
}

#power span:nth-of-type(4) {
	width: 0.86rem;
}

#power span:nth-of-type(5) {
	width: 1.02rem;
}

#power span:nth-of-type(6) {
	width: 1.22rem;
}

#power span:nth-of-type(7) {
	width: 1.45rem;
}

#power span:nth-of-type(8) {
	width: 1.7rem;
}

#power span:nth-of-type(9) {
	width: 1.87rem;
}

#power span:nth-of-type(10) {
	width: 2rem;
}

/*-- Level --*/

#level {
	align-items: center;
	display: flex;
	gap: var(--gap);
	left: 50%;
	padding: 0 var(--gap);
	position: absolute;
	top: var(--gap);
	transform: translate(-50%, -1rem);
}

#birds,
#pigs {
	align-items: center;
	display: flex;
	gap: 8px;
}

#destruction {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

#destruction-stars {
	display: flex;
	justify-content: space-around;
}

.destruction-star {
	color: var(--white-80);
}

#destruction-progress {
	background-color: var(--white-80);
	border-radius: var(--bar-size);
	height: var(--bar-size);
	width: var(--pill-width);
}

#btn-close {
	border-radius: 0 var(--pill-height) var(--pill-height) 0;
	height: 100%;
	margin: 0 calc(-1 * var(--gap));
	padding: 0 var(--gap);
}

#btn-close svg {
	transition: transform var(--duration-fast) var(--ease);
}

#btn-close:hover svg {
	transform: rotate(90deg);
}

/*-- WebGL canvas --*/

#webgl {
	inset: 0;
	outline: none;
	position: fixed;
}

/*-- Global + Shared --*/

button {
	align-items: center;
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	display: flex;
	font: inherit;
	justify-content: center;
}

.font-size-default {
	font-size: 1rem;
}

.divider {
	background-color: var(--white-50);
	height: 100%;
	width: 1px;
}

.pill {
	backdrop-filter: var(--blur);
	border: var(--pill-border);
	border-radius: var(--pill-height);
	height: var(--pill-height);
}

.home,
.level {
	opacity: 0;
	pointer-events: none;
	transition: var(--transition);
}

.home.show,
.level.show {
	opacity: 1;
	pointer-events: auto;
}

#loader-inner.hide,
#loader-text.hide,
.btn-level.locked .btn-level-number,
.btn-level:hover .btn-level-number {
	opacity: 0;
	transform: translateY(1rem);
}

#loader-loading,
#loader-loaded,
.btn-level-number,
.btn-level-lock {
	grid-area: 1 / 1;
}

#stars.show,
#controls.show {
	transform: translateY(0);
}

#level.show,
#nav.show {
	transform: translate(-50%, 0);
}