*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bar-size: 2px;
	--blur: blur(6px);
	--duration: .5s;
	--duration-fast: .25s;
	--ease: ease;
	--gap: 2rem;
	--gray: #ccc;
	--pill-border: 1px solid var(--white-50);
	--pill-height: 46px;
	--pill-width: 180px;
	--transition: opacity var(--duration) var(--ease), transform var(--duration) var(--ease);
	--transition-fast: opacity var(--duration-fast) var(--ease), transform var(--duration-fast) var(--ease);
	--white-50: #ffffff50;
	--white-80: #ffffff80;
}

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Droid Sans", "Trebuchet MS", Arial, sans-serif;
	overflow: hidden;
	text-rendering: optimizeLegibility;
	user-select: none;
}

body.pointer {
	cursor: pointer;
}

body.grabbing {
	cursor: grabbing;
}

/*-- Loader --*/

#loader {
	background-color: #fff;
	display: grid;
	inset: 0;
	place-items: center;
	position: fixed;
	transition: opacity 1s var(--ease);
	z-index: 9999;
}

#loader.remove {
	display: none;
}

#loader-inner {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	transition: var(--transition);
}

#loader-progress {
	background-color: var(--gray);
	height: 1px;
	position: relative;
	width: min(500px, 80vw);
}

#loader-progress::before {
	background-color: #000;
	content: "";
	inset: 0;
	position: absolute;
	transform: scaleX(var(--s, 0));
	transform-origin: left;
	transition: transform var(--duration) var(--ease);
}

#loader-text {
	display: flex;
	justify-content: space-between;
	transition: inherit;
}

#loader-click {
	align-items: center;
	display: flex;
	justify-content: space-between;
	opacity: 0;
	transform: translateY(-1rem);
	transition: inherit;
}

#loader-click.show {
	opacity: 1;
	transform: translateY(0);
}

#loader-click-icon {
	animation: pulse 2s infinite;
}

@keyframes pulse {

	0%,
	20%,
	100% {
		transform: scale(1);
	}

	10% {
		transform: scale(.7);
	}
}

/*-- Game --*/

#ui {
	color: #fff;
	font-size: 1.5rem;
	inset: 0;
	position: fixed;
	z-index: 1;
}

/*-- Stars --*/

#stars {
	align-items: center;
	bottom: var(--gap);
	display: flex;
	gap: var(--gap);
	justify-content: center;
	left: var(--gap);
	position: absolute;
	transform: translateY(1rem);
	width: var(--pill-width);
}

/*-- Select --*/

#select {
	bottom: var(--gap);
	display: flex;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 1rem);
	width: 270px;
}

.select-btn {
	display: grid;
	flex: 1;
	overflow: hidden;
	place-items: center;
}

.select-btn.locked {
	cursor: not-allowed;
}

.select-btn-level {
	transition: var(--transition-fast);
}

.select-btn-stars {
	display: flex;
	gap: .25rem;
	grid-area: 1 / 1;
}

.select-btn-star {
	color: var(--white-50);
	opacity: 0;
	transform: translateY(1rem);
	transition: var(--transition-fast);
}

.select-btn-star:nth-of-type(2) {
	transition-delay: 50ms;
}

.select-btn-star:nth-of-type(3) {
	transition-delay: 100ms;
}

.select-btn:hover:not(.locked) .select-btn-star {
	opacity: 1;
	transform: translateY(0) rotate(180deg);
}

/*-- Controls --*/

#controls {
	bottom: var(--gap);
	display: flex;
	position: absolute;
	right: var(--gap);
	transform: translateY(1rem);
	width: var(--pill-width);
}

#sound-btn {
	flex: 1;
	gap: .25rem;
}

#sound-btn span {
	animation: sound 1s infinite;
	animation-play-state: paused;
	background-color: #fff;
	border-radius: var(--bar-size);
	height: 7px;
	width: var(--bar-size);
}

#sound-btn.active span {
	animation-play-state: running;
}

#sound-btn span:nth-of-type(2) {
	animation-delay: 500ms;
}

#sound-btn span:nth-of-type(3) {
	animation-delay: 250ms;
}

@keyframes sound {

	0%,
	100% {
		height: 7px;
	}

	50% {
		height: 18px;
	}
}

#fullscreen-btn {
	flex: 1;
}

.fullscreen-icon {
	opacity: 0;
	transition: opacity var(--duration) var(--ease);
}

.fullscreen-icon.active {
	opacity: 1;
}

/*-- Zoom + Power --*/

#zoom,
#power {
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#zoom {
	align-items: flex-end;
	right: var(--gap);
}

#power {
	left: var(--gap);
}

#zoom span,
#power span {
	background-color: var(--white-80);
	border-radius: var(--bar-size);
	height: var(--bar-size);
	position: relative;
	transform: scaleX(0);
}

#zoom span {
	transform-origin: right;
	width: 1rem;
}

#power span {
	transform-origin: left;
}

#zoom span::before,
#power span::before {
	background-color: #fff;
	border-radius: inherit;
	content: "";
	height: inherit;
	inset: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: inherit;
	transition: inherit;
}

#zoom span.show,
#power span.show,
#zoom span.active::before,
#power span.active::before {
	transform: scaleX(1);
}

#zoom span:nth-of-type(3n+1) {
	width: 1.5rem;
}

#power span:nth-of-type(1) {
	width: .5rem;
}

#power span:nth-of-type(2) {
	width: .6rem;
}

#power span:nth-of-type(3) {
	width: .72rem;
}

#power span:nth-of-type(4) {
	width: .86rem;
}

#power span:nth-of-type(5) {
	width: 1.02rem;
}

#power span:nth-of-type(6) {
	width: 1.22rem;
}

#power span:nth-of-type(7) {
	width: 1.45rem;
}

#power span:nth-of-type(8) {
	width: 1.7rem;
}

#power span:nth-of-type(9) {
	width: 1.87rem;
}

#power span:nth-of-type(10) {
	width: 2rem;
}

/*-- Level --*/

#level {
	align-items: center;
	display: flex;
	gap: var(--gap);
	left: 50%;
	padding: 0 var(--gap);
	position: absolute;
	top: var(--gap);
	transform: translate(-50%, -1rem);
}

.characters {
	align-items: center;
	display: flex;
	gap: .5rem;
}

#destruction {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}

#destruction-stars {
	display: flex;
	justify-content: space-around;
}

.destruction-star {
	color: var(--white-80);
}

#destruction-progress {
	background-color: var(--white-80);
	border-radius: var(--bar-size);
	height: var(--bar-size);
	width: var(--pill-width);
	position: relative;
}

#destruction-progress::before {
	background-color: #fff;
	content: "";
	inset: 0;
	position: absolute;
	transform: scaleX(var(--s, 0));
	transform-origin: left;
	transition: transform var(--duration) var(--ease);
}

#close-btn {
	border-radius: 0 var(--pill-height) var(--pill-height) 0;
	margin: 0 calc(-1 * var(--gap));
	padding: 0 var(--gap);
}

#close-btn svg {
	transition: transform var(--duration-fast) var(--ease);
}

#close-btn:hover svg {
	transform: rotate(90deg);
}

/*-- End --*/

#end-win,
#end-lose {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, calc(-50% + 1rem));
	font-size: 5rem;
	pointer-events: none;
	opacity: 0;
	transition: var(--transition);
	letter-spacing: .5rem;
}

#end-win.show,
#end-lose.show {
	opacity: 1;
	transform: translate(-50%, -50%);
}

/*-- WebGL --*/

#webgl {
	inset: 0;
	outline: none;
	position: fixed;
}

/*-- Global + Shared --*/

button {
	align-items: center;
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	display: flex;
	font: inherit;
	justify-content: center;
	height: 100%;
}

.text-default {
	font-size: 1rem;
}

.divider {
	background-color: var(--white-50);
	height: 100%;
	width: 1px;
}

.pill {
	backdrop-filter: var(--blur);
	border: var(--pill-border);
	border-radius: var(--pill-height);
	height: var(--pill-height);
}

.home,
.level {
	opacity: 0;
	pointer-events: none;
	transition: var(--transition);
}

.home.show,
.level.show {
	opacity: 1;
	pointer-events: auto;
}

.select-btn-star.active,
.destruction-star.active {
	color: #fff;
}

#loader.hide,
.select-btn:not(.locked) .select-btn-lock {
	opacity: 0;
}

#loader-inner.hide,
#loader-text.hide,
.select-btn.locked .select-btn-level,
.select-btn:hover .select-btn-level {
	opacity: 0;
	transform: translateY(1rem);
}

#loader-loading,
#loader-loaded,
.select-btn-level,
.select-btn-lock {
	grid-area: 1 / 1;
}

#stars.show,
#controls.show {
	transform: translateY(0);
}

#level.show,
#select.show {
	transform: translate(-50%, 0);
}